@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;    
    text-decoration: none;
    box-sizing: border-box;
    background: #000; 
    color: #D9D9D9; 
     
}
:root{
    
    --primary-color:black;
    --secondary-color:#fff;
    
}


.row{
    width: 90%;
    margin: auto;
    margin-top: 0%;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-between;      
}
@media screen and (max-width: 768px){
    .row{
        flex-direction: column;
        text-align: left;    
    }
}


.banner{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: var(--primary-color);
}

.overlay{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    background: var(--primary-color);
    
}


.toggleBtn{
    display: inline-block;
    position: fixed;
    width: 100px;
    height: 90px;
    top: 0;
    left: 0;
    z-index: 10;
    border-bottom-right-radius: 100px;
    background-color: #ffe63e;
    cursor: pointer;
    padding: 22px 25px;
}



.toggleBtn img{
    width: 30px;
    height: 30px;
    background: transparent;
    object-fit: cover;
    position: absolute;
}

.toggleBtn .close-icon{
    opacity: 0;
}

.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    border-radius: 0 0 100% 0;
    background-color: #ffe63e;
    z-index: 9;
    transform: scale(0);
    transform-origin: top left;
}

nav{
    background-color: transparent;
    padding: 100px;
    transition: all ease 0.5s;
}

nav ul{
    padding-left: 0;
    background-color: transparent;
}

nav ul li{
    list-style: none;
    margin-bottom: 30px;
    background-color: transparent;
}

nav ul li a{
    position: relative;
    font-size: 40px;
    font-weight: 700;
    font-family: 'messapia';
    text-decoration: none;
    background-color: transparent;
    color: #38444b;
}

nav ul li a:hover{
    color: #0FAA58;
}

nav ul li a::before{
    content: '';
    position: absolute;
    top: 50%;
    left: -100%;
    width: 0;
    height: 3px;
    background-color: #0FAA58;
    transition: all ease 0.5s;
}

nav ul li a:hover:before{
    width: 100%;
    left: 0;
}

@media screen and (max-width:900px) {
    .menu{   
        width: 80%;
        height: 100%;      
    }
   
    nav ul li a{
        font-size: 18px;
    }

    nav{
        padding: 70px;
        transition: all ease 0.5s;
    }   
}



.hero{
    margin-top: 11%;
    text-align: center;
}
.hero-con{
    margin: 0 auto;
}

.head-text h1{
    font-size: 96px;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 3px #D9D9D9;
}

.para-text{
    display: flex;
    justify-content: center;
    align-items: center;   
}
.para-text p{
    margin: 0 5%; 
    text-transform: uppercase;  
}

@media screen and (max-width:768px){
    .hero{
        margin-top: 35%;
    }
   
    .head-text h1{
        font-size: 32px;
    }
    .para-text p {
        font-size: 14px;
    }
}

.virgo{
    margin: 0 5%;
    margin-top: 8%;
    margin-bottom: 5%;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.virgo p{
    border-top: 3px solid #ffe63e;
    padding-top: 1%;
}

@media screen and (max-width:768px){
    .virgo{
        margin-top: 20%;
    }
    .virgo p{
        font-size: 14px;
    }

}


.marquee{
    background: transparent;
    margin: 0 auto;
    margin-top: 7%;
    position: relative;
}

.offerline{
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    color: #F8F8F8;
    padding: 15px 0;
    text-align: center;
}

.offerline-marquee{
    background: transparent;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: marquee 30s linear infinite;

}

.offerline-marquee p{
    background: transparent;
    display: inline-block;
    font-size: 20px; 
}

@keyframes marquee{
    0%{
        transform: translate3d(0px, 0px, 0px);
    }
    100%{
        transform: translate3d(-50%, 0px, 0px);
    }
}

@media(max-width:768px){

    .marquee{
        background: transparent;
        margin: 0 auto;
        margin-top: 10%;
    }
     .offerline-marquee p{ 
         font-size: 16px; 
     }

        
    .offerline{
        padding: 10px 0;
    }
        
 }

.quick-note{
    width: 90%;
    margin: auto;
    margin-top: 7%;
    margin-bottom: 2%;
}
.quick-note P{
    color: transparent;
    -webkit-text-stroke: 1px #fff;
}

@media(max-width:768px){
   
        .quick-note{
            margin-top: 15%;
        } 
}

.trends{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.trends-left .slide {
    flex-basis: 50%;   
}
.trends-left .slide img {
     width: 100%;
}

.trends-right{
    flex-basis: 45%;
}

.trends-right  h2{
    font-size: 52px;
    padding-top: 3%;
    margin-top: 6%;
    margin-bottom: 3%;
    width: 10%;
    color: transparent;
    -webkit-text-stroke: 3px #D9D9D9;
    border-top: 3px solid #D9D9D9;
}
.trends-right  h3{
    margin-bottom: 4%;
}
.trends-right  p{
    margin-bottom: 4%;
}

.trends-right  a{
    color: #D9D9D9;
    text-decoration: none;
    border-bottom: 3px solid #D9D9D9;
}
.direction{
    margin-top: 5%;
    text-align: right;
}
.direction i{
    background: transparent;
}
button#next{
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    color: #fff;
    border: 2px solid #000;
    background: #635C63;
    cursor: pointer;
}



button#prev{
    width: 60px;
    height: 60px;
    margin-right: 1%;
    text-align: center;
    line-height: 40px;
    font-size: 15px;
    color: #fff;
    border: 2px solid #000;
    background: #282B2A;
    cursor: pointer;
}

@media only screen and (max-width:1024px){
    .trends{
        display: flex;
        flex-direction: column;
    }
    .trends-left .slide {
        flex-basis: 100%;   
    }
    
    .trends-right{
        flex-basis: 100%;
    }
}

.project-image{
    width: 90%;
    align-items: center;
    --gap: 20px;
    --num-cols: 4;
    --row-height:250px;

    box-sizing: border-box;
    padding: var(--gap);
    margin:0 45px;

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
}

.project-image > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.project-image-col-2 {
    grid-column: span 2;
}

.project-image-row-2 {
    grid-row: span 2;
}

@media screen and (max-width:1024px){
    .project-image{
        --num-cols: 2;
        --row-height:200px;
        width: 88%;
        margin:0 60px;
    }
}
@media screen and (max-width:768px){
    .project-image{
        --num-cols: 2;
        --row-height:200px;
        width: 100%;
        margin:0;
        margin-top: 0;
    }
}



.steeze{
    margin: 0 5%;
    margin-top: 18%;
    margin-bottom: 5%;
}

.steeze h2{
    margin-bottom: 3%;
}
.steeze h3{
    text-align: right;
    margin-top: 3%;
}

.steeze i{
    margin-left: 2%;
}
.item img{
    width: 85%;
    height: 75vh;
    object-fit: cover;
}


.steeze-slider.slick-initialized.slick-slider .slick-arrow{
    position: absolute;
    top: -25px;
}


.steeze-slider.slick-initialized.slick-slider .slick-prev.slick-arrow{
    opacity: 0;
    right: 180px;
    left: inherit;
    
}
.steeze-slider.slick-initialized.slick-slider .slick-next.slick-arrow{
    opacity: 0;
    right: 90px;
    
}

@media screen and (max-width: 768px){
    .item img{
        width: 85%;
        height: 35vh;
        object-fit: cover;
    }
}


.contact{
    margin: 0 5%;
    margin-top: 10%;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-between; 
}
.contact-left{
    flex-basis: 45%;
}
.contact-left h2{
    font-size: 24px;
    margin-bottom: 5%;
}
.contact-left p{
    margin-bottom: 5%;
    font-size: 24px;
    
}
.contact-left i{
    margin-right: 5%;
    font-size: 24px;
}

.contact-right{
    flex-basis: 45%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-box{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: -8%;
    max-width: 800px;
    flex-wrap: wrap;
}

.contact-text{
    flex-basis: 100%;
    flex-grow: 1;
    background:black;
    color: white;
    padding: 40px 0;
    min-width: 250px;
}
.contact-box h3{
    font-size: 14px;
    padding: 10px 24px;
    border: 2px solid #D9D9D9;
}
.contact-box h3:hover{
    background: #D9D9D9;
    color: #000;
}

.input-field{
    padding:10px;
    border-radius: 4px;
    border: 2px solid #ccc;
    color: white;
    outline: none;
    display: block;
    width: 100%;
    margin: 5px 0 10px;
    background: transparent;
    
}
.contact-form label{
    font-weight: 500;
    font-size: 12px;
    color: #ccc;
}
.contact-form ::placeholder{
    color: #ccc;
}


textarea{
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border:2px solid #ccc ;
    color: #C7E4E3;
    outline: none;
    background: transparent;
}

@media screen and (max-width: 768px){
    .contact{
        flex-direction: column;
        text-align: left;
        margin-top: 15%;    
    }
    .contact-left h2{
        font-size: 18px;
        width: 90%;
    }
    .contact-left i{
        font-size: 16px;
    }
    .contact-left p{
        font-size: 16px;
    }
    .contact-box{
        margin-top: 2%;
    }

}


footer{
    width: 100%;
    bottom: 0;
    background: transparent;
    color: #D9D9D9;
    padding: 100px 0 0px;
    font-size: 13px ;
    line-height: 20px;
    margin-top: 50px;
}

.feeter-row{
    width: 90%;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.feeter-logo{
    width: 80px;
    font-size: 18px;       
}



.col{
    flex-basis: 25%;
    padding: 10px;
    font-weight: 700;
}
.col h3{
    width: fit-content;
    margin-bottom: 35px;
    position: relative;
}



.feeter-ul li{
    list-style: none;
    margin-bottom: 12px;
}
.feeter-ul li a{
    font-weight: 700;
    text-decoration: none;
}
.feeter-ul p{
    list-style: none;
    margin-bottom: 12px;
    font-weight: 700;
}


.social-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

.social-icon i{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #D9D9D9;
    border: 1px solid #D9D9D9;
    background: transparent;
    margin-right: 15px;
    cursor: none;
}

hr{
    width: 90%;
    border: 0;
    border-bottom: 2px solid #D9D9D9;
    margin: 20px auto;
}
.copyright{
    text-align: center;
    padding-bottom: 10px;
}



@keyframes moving{
    0%{
        left: -20x;
    }
    100%{
        left: 100%;
    }
}

@media (max-width: 700px) {
    footer{
        bottom: unset;
         
    }

    .col-logo{
        flex-basis: 100%;
        
    }
    .col{
         flex-basis: 100%;
         padding-bottom: 30px;
    }
    .copyright{
        text-align: center;
        margin-left: 0;
        color: white;
        padding-bottom: 50px;
    }
    
}
