@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;    
    text-decoration: none;
    box-sizing: border-box;
    background: black;     
}
:root{
    
    --primary-color:black;
    --secondary-color:#fff;
    
}

.banner{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: var(--primary-color);
}

.overlay{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    background: var(--primary-color);
    
}
.logo{
    float: left;
    display: flex;
    color:white;    
    font-size: 24px; 
    font-weight: 700;
    margin-left: 0;
    cursor: pointer;
}

.logo strong{
    color: #fff;
}


nav{
    z-index: 10;
    background: var(--primary-color);
    left: 0;
    right: 0;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 1.5rem 3%;
}

nav .links{
    float: right;
    padding: 0;
    margin: 0;
    display: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}
nav .links li{
    list-style: none;
    display: inline-block; 
    position: relative;
    background: transparent;     
}
nav .links li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(28, 175, 106);
    display: block;
    margin: auto;
    transition: 0.5s;
}
nav .links li:hover::after{
    width: 100%;
}
nav .links li a{
    color: white;
    text-decoration: none;
    font-size: 14px;  
    background: transparent;   
}
nav .links li a:hover{
    color: rgb(28, 175, 106);
    font-weight: 700;
}

#portfolionav-toggle{
    position: absolute;
    margin-top: -25px;
    top: -100px;
}

nav .portfolioicon-burger{
    display: block;
    position: absolute;
    right: 5%;
    top: 45%;
    transform: translateY(-50%);
    
}
nav .portfolioicon-burger .line{
    width: 25px;
    height: 2px;
    background-color:var(--secondary-color) ;
    margin: 5px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}

@media screen and (max-width:2560px) {
    nav .links{
        float: none;
        position: fixed;
        padding: 0;
        margin: 0;
        left: 0;
        right: 0;
        top: 80px;
        bottom: 100%;
        z-index: 9;
        background:rgb(1, 36, 36);
        color: #fff;
        display: flex;
        width: auto;
        height: auto;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        overflow: hidden;
        transition: all .5s ease-in-out;
    }
    nav .links a{
        font-size: 20px;
        color: white;
        
    }
    nav .links li a{
        color:#fff;
        text-decoration: none;
        font-size: 28px; 
        background: transparent;  
    }

    nav .portfolioicon-burger{
        display: block;
        margin-right: 0px;
    }
   
    nav :checked ~ .links {
        bottom: 0;
    }
    nav :checked ~ .portfolioicon-burger .line:nth-child(1){
        transform: translateY(10px) rotate(225deg);
    }
    nav :checked ~ .portfolioicon-burger .line:nth-child(3){
        transform: translateY(-10px) rotate(-225deg);
    }
    nav :checked ~ .portfolioicon-burger .line:nth-child(2){
        opacity: 0;

    }
}

.banner-about{
    height: 0px;
}

.overlay-about{
    height: 0px;
}



.row{
    width: 90%;
    margin: auto;
    margin-top: 0%;
    display: flex;
    justify-content: space-between;      
}
@media screen and (max-width: 768px){
    .row{
        flex-direction: column;
        text-align: left;    
    }
}

.products-list{
    margin-top:18%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.left-list{
    flex-basis: 55%;
    flex-grow: 1;  
}
.right-list{
    flex-basis: 40%;
    flex-grow: 1;
}
.left-list h1{
    color: #fff;
    font-size: 64px;
    margin-bottom: 15px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 4px solid #fff;
}


.left-list p{
    color: #ccc;
    font-size: 20px;
}
.left-list i{
    font-size: 26px;
    color: #fff;
    padding-left: 6%;
}


.right-list img{
    width: 100%;
    height: 680px;
    margin-top: -30%;
    object-fit: cover;
   margin-left: 50%;
}



@media only screen and (max-width:700px){
    .left-list,.right-list{
        flex-basis: 100%;
        text-align: left;
    }
    .left-list h1{
        padding-top: 20%;
        font-size: 32px;
        border-bottom: none;
    }
    .left-list p{
        font-size: 18px;
        display: none;
    }
    .left-list i{
        transform: rotate(90deg) translate(-10%);
        font-size: 18px;
        display: none;
        
    }
    .right-list img{
        width: 100%;
        height: auto;
        margin-top: 0%;
        margin-left: 0%;
    }
}


.footer-text{
    color: #fff;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.footer-text h2{
    color: #fff;
    text-decoration: none;
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 5px;
}
@media screen and (max-width:768px){
    .footer-text h2{
        font-size:28px ;
    }    
}

footer{
    width: 100%;
    bottom: 0;
    background: transparent;
    padding: 5px 0 30px;
    font-size: 13px ;
    line-height: 20px;
    margin-top: 5px;
}

hr{
    width: 100%;
    border: 0;
    border-bottom: 2px solid #fff;
    margin: 5px auto;
}


@media (max-width: 700px) {
    footer{
        bottom: unset;
         
    }   
}

.pro-con{
    width: 100%;
    min-height: 0vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0% 0;
    margin-top: 1%;
}
.pro-box{
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.collection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

.collection h2{
    color: #ccc;
}
.collection a{
    color: #ccc;
    border-bottom: 2px solid #ccc;
    padding-bottom: 2px;
}

#diff h2{
    color: #ccc;
    font-size: 24px;
}


.pro-left{
    flex-basis: 30%;
    flex-grow: 1;
    background: transparent;
    color: white;
    padding: 0px 0%;
    margin-right: 5%;
    min-width: 250px;
}
.pro-left img{
    width: 100%;
    height: auto;
    padding-top: 0px;
    padding-bottom: 25px;
    background: transparent;
}
.pro-left p{
    background: transparent;
    font-size: 16px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-top: 25px;
    border-top: 3px solid #fff;
}

.pro-center{
    flex-basis: 30%;
    flex-grow: 1;
    background: transparent;
    color: white;
    padding: 0px 0%;
    margin-right: 5%;
    min-width: 250px;
}
.pro-center h3{
    background: transparent;
    padding-bottom: 30px;
}
.pro-center h2{
    background: transparent;
    font-size: 32px;
}
.pro-center img{
    width: 100%;
    height: auto;
    padding-top: 0px;
    background: transparent;
    padding-bottom: 25px;
}
.pro-center p{
    background: transparent;
    font-size: 16px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 3px solid #fff;
}

@media screen and (max-width:1024px){
    .pro-left{
        margin-bottom: 5%;
        margin-right: 0%;
        flex-basis: 100%;
    }
    .pro-right{
        flex-basis: 100%;
    }
    .pro-center{
        flex-basis: 100%;
         margin-bottom: 5%;
        margin-right: 0%;
    }
    
}

.pro-right{
    flex-basis: 30%;
    flex-grow: 1;
    background: transparent;
    color: white;
    padding: 0px 0%;
    min-width: 250px;
}

.pro-right img{
    width: 100%;
    height: auto;
    padding-top: 0px;
    padding-bottom: 25px;
    background: transparent;
}
.pro-right p{
    background: transparent;
    font-size: 16px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 3px solid #fff;
}

@media screen and (max-width:768px){
    .pro-right h2{
        font-size:24px ;
    }
    .pro-right h3{
        font-size:16px ;
        padding-bottom: 20px;
    }
}

@media screen and (max-width:768px){
    .pro-left h2{
        font-size:24px ;
    }
    .pro-left h3{
        font-size:16px ;
        padding-bottom: 20px;
    }
}


